@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200..1000&display=swap');

:root {
  /* Sizes */
  --nav-height: 43px;
  --nav-p-left: 18px;
  --nav-p-right: 16px;
  --sidebar-width: 305px;
  /* Colors */
  --jet-black: #343434;
  --matte-black: #28282B;
  --onyx: #353935;
  --off-white: #FAF9F6;
  --vermillion: #E34234;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--off-white);
  font-size: 1rem;
  min-height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: var(--sidebar-width);
  min-height: calc(100vh - var(--nav-height));
  background-color: var(--onyx);
  padding-top: 30px;
  overflow: hidden;
  transition: all 200ms;
}

aside [icon] {
  font-size: 24px;
}

aside>div,
ul {
  padding-left: var(--nav-p-left);
  padding-right: var(--nav-p-right);
}

main {
  background-color: var(--matte-black);
}

main>div {
  width: 60%;
  margin: 40px auto;
}

ul {
  list-style-type: none;
}

ul>li {
  display: flex;
}

button {
  display: flex;
  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  padding: 2px;
  flex-shrink: 0;
  font-size: inherit;
  font-family: inherit;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

dialog {
  margin: auto;
  border: none;
  background-color: var(--jet-black);
  color: var(--off-white);
  font-size: 1rem;
}

dialog::backdrop {
  backdrop-filter: blur(2px);
}

dialog input {
  outline: none;
  border: none;
  width: 100%;
  padding: 5px;
  font-size: inherit;
}

input[type="search"] {
  height: 100%;
  outline: none;
  border: none;
  background-color: rgb(255 255 255 / 0);
  color: inherit;
  padding: 2px;
  line-height: 1.5;
  font-size: inherit;
  cursor: inherit;
  width: 100%;
}

input[type="search"]::placeholder {
  color: inherit;
}

/* nav rules */
.flex-nav {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  height: var(--nav-height);
  background-color: var(--jet-black);
  padding-left: var(--nav-p-left);
  padding-right: var(--nav-p-right);
}

.flex-nav [icon] {
  font-size: 28px;
}

.nav-left-section,
.nav-right-section {
  display: flex;
  gap: 10px;
  padding: 5px 0;
}

.nav-left-section {
  width: calc(var(--sidebar-width) - var(--nav-p-left));
}

.nav-left-section form {
  display: flex;
  gap: 5px;
  background-color: rgb(255 255 255 / 0.1);
  padding-left: 2px;
  padding-right: 2px;
  cursor: pointer;
}

.nav-left-section form:hover {
  background-color: rgb(0 0 0 / 0.5);
  transition: all 200ms;
}

.icon-image {
  width: 32px;
  height: 32px;
}

/* Sidebar rules */
.sidebar__item {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}

/* Grid Layout rules */
.grid-wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
}

/* Other rules to be defined */

/* Utilities */
.justified-between {
  justify-content: space-between;
}

.aligned-center {
  align-items: center;
}

.aligned-stretch {
  align-items: stretch;
}

.ghost:hover {
  background-color: rgb(255 255 255 / 0.2);
}

.active,
.active:hover {
  background-color: rgb(227 66 52 / 0.2);
  color: rgb(227 66 52);
}

.rounded-5 {
  border-radius: 5px;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.bold {
  font-weight: 800;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.bg-red {
  background-color: var(--vermillion);
}

.bg-blue {
  background-color: steelblue;
}

.bg-green {
  background-color: seagreen;
}

.bg-purple {
  background-color: blueviolet;
}

.bg-dark {
  background-color: var(--matte-black);
}

.bg-light {
  background-color: var(--off-white);
}

.red {
  color: var(--vermillion);
}

.blue {
  color: steelblue;
}

.green {
  color: seagreen;
}

.purple {
  color: blueviolet;
}

.dark {
  color: var(--matte-black);
}

.light {
  color: var(--off-white);
}

.hidden {
  display: none;
}

.collapse {
  width: 0px;
}

@media screen and (max-width: 1024px) {
  input[type="search"] {
    display: none;
  }
}