@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

:root {
  --navbar-height: 40px;
  --blue-gray: #7393B3;
  --navy-blue: #000080;
  --steel-blue: #4682B4;
  --charcoal: #36454F;
  --jet-black: #343434;
  --matte-black: #28282B;
  --platinum: #E5E4E2;
  --mango: #F4BB44;
  --jade: #00A36C;
  --cadmium-red: #D22B2B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

nav,
footer,
aside {
  background-color: var(--jet-black);
  color: var(--platinum);
}

main {
  background-color: var(--matte-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* PROJECT CONTAINER */
.project-container {
  padding: 30px 0;
  width: 50%;
  font-size: 1rem;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.project-name-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.project-name-container div div {
  display: flex;
  gap: 10px;
}

.project-header input {
  background-color: inherit;
  color: var(--platinum);
  border: none;
  border-radius: 5px;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 800;
  padding: 2px 5px;
}

.project-header input.editable {
  background-color: inherit;
  outline: 1px solid white;
}

.project-header input:hover:not(.editable) {
  background-color: rgba(255 255 255 / 0.1);
}

.project-header input:focus {
  outline: 1px solid var(--blue-gray);
}

.project-header button {
  padding: 7px 13px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 800;
  cursor: pointer;
}

.new-task-div {
  border: 1px solid var(--blue-gray);
  border-radius: 5px;
}

.new-task-div form {
  display: flex;
  flex-direction: column;
}

.new-task-div form div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.new-task-div input {
  background-color: inherit;
  border: none;
  outline: none;
  color: var(--platinum);
  font-size: 1rem;
  padding: 10px;
}

.new-task-div #due-date,
.new-task-div select {
  background-color: inherit;
  border: 1px solid var(--blue-gray);
  border-radius: 5px;
  outline: none;
  color: var(--platinum);
  font-size: 1rem;
  padding: 10px;
}

.new-task-div option {
  background-color: var(--matte-black);
  font-size: 1rem;
}

/* OTHER */

#new-project-dialog,
#edit-project-dialog {
  width: 280px;
  margin: auto;
  padding: 20px;
}

#new-project-dialog::backdrop,
#edit-project-dialog::backdrop {
  background-color: gray;
  opacity: 0.75;
}

#new-project-dialog form,
#edit-project-dialog form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#new-project-dialog form fieldset,
#edit-project-dialog form fieldset {
  border: none;
  display: flex;
  gap: 5px;
}

#project-name,
#edit-project-name {
  width: 100%;
}

.btn {
  color: var(--platinum);
  background-color: var(--jet-black);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--navbar-height);
  cursor: pointer;
  height: var(--navbar-height);
}

.btn:hover:not(button[data-id]) {
  background-color: rgb(255 255 255 / .1);
  border-radius: 50%;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(auto, 250px) 1fr;
  grid-template-rows: var(--navbar-height) auto 50px;
  grid-template-areas: "sidebar navbar"
    "sidebar main"
    "sidebar footer";
  height: 100vh;
}

.navbar {
  grid-area: navbar-start / sidebar-start / navbar-end / navbar-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.navbar-start-items,
.navbar-end-items {
  display: flex;
  justify-content: center;
}

.sidebar {
  grid-area: sidebar;
  transform: translateX(0%);
  transition: 200ms ease;
  position: relative;
  z-index: 1;
  display: flex;
  gap: 40px;
  flex-direction: column;
  padding-left: 20px;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--navbar-height);
}

.sidebar-body {
  padding-right: 20px;
}

.sidebar.sidebar-collapsed {
  transform: translateX(-100%);
}

.sidebar ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.sidebar ul li:first-child {
  margin-bottom: 10px;
}

.sidebar ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar ul li+li {
  cursor: pointer;
  padding-right: 0;
}

.sidebar ul li+li:hover {
  background-color: rgb(255 255 255 / .1);
  border-radius: 5px;
}

.sidebar ul li+li button.btn {
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  justify-content: left;
  border-radius: unset;
  height: calc(var(--navbar-height) - 10px);
  padding: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebar ul li+li button.btn:hover {
  background-color: unset;
  border-radius: unset;
}

.sidebar ul li+li button.btn[data-id] {
  border-radius: 10px;
}

.sidebar ul li+li button.btn.project-edit {
  flex: 1;
}

.main {
  grid-area: main-start / sidebar-start / main-end / main-end;
}

.footer {
  grid-area: footer-start / sidebar-start / footer-end / footer-end;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
}

/* UTILITY CLASSES */
.bold {
  font-weight: 800;
}

.active {
  background-color: rgb(255 255 255 / .1);
}

.confirm {
  background-color: var(--platinum);
  color: var(--matte-black);
}

.cancel {
  background-color: var(--charcoal);
  color: var(--platinum);
}

.delete {
  background-color: var(--cadmium-red);
  color: var(--platinum);
}

/* Desktop */
@media only screen and (min-width: 768px) {
  .project-header input {
    width: fit-content;
  }
}